<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{section.settings.title}}</h1>
        <p class="lead">{{section.settings.description}}</p>
    </div>
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Free</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 users included</li>
            <li>2 GB of storage</li>
            <li>Email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>20 users included</li>
            <li>10 GB of storage</li>
            <li>Priority email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Enterprise</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>30 users included</li>
            <li>15 GB of storage</li>
            <li>Phone and email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
        </div>
      </div>
    </div>
  </div>

  {% schema %}
  {
    "name": "Pricing Section",
    "class": "section-pricing",
    "tag": "section",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title",
        "default": "Pricing"
      },
      {
          "id" : "description",
          "type" : "textarea",
          "label" : "Description",
          "default" : "Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization."
      }
    ],
    "blocks": [
        {
            "type": "tier",
            "name": "Tier",
            "limit": 4,
            "settings": [
                {
                    "id": "tier_name",
                    "type": "text",
                    "label" : "Tier Name",
                    "default": "Free"
                },
                {
                    "id": "tier_price",
                    "type": "text",
                    "label": "Tier Price",
                    "default": "0"
                },
                {
                    "id": "tier_recurrence",
                    "type": "select",
                    "label" : "Tier Recurrence",
                    "options": [
                        {
                            "value": "dy",
                            "label": "Daily"
                        },
                        {
                            "value": "mo",
                            "label": "Monthly"
                        },
                        {
                            "value": "yr",
                            "label": "Yearly"
                        }
                    ],
                    "default": "mo"
                },
                {
                    "id": "tier_Description",
                    "type": "textarea",
                    "label": "Tier Description",
                    "info" :"Separate each item by a comma",
                    "default": "10 users incluced, 2GB of storage, Email Support, Help Center Access",
                    "placeholder": "Example A, Example B, Example B"

                },
                {
                    "id": "tier_button",
                    "type": "select",
                    "label": "Button Style",
                    "options": [
                        {
                            "value": "outline",
                            "label": "Outlined"
                        },
                        {
                            "value": "filled",
                            "label": "Filled"
                        }
                    ],
                    "default": "outline"
                },
                {
                    "id": "button_text",
                    "type" : "text",
                    "label": "Button Text",
                    "default": "Sign up for free"
                },
                {
                    "id": "tier_link",
                    "type": "text",
                    "label" : "Button URL",
                    "default" : "#"
                }
            ]
        }
    ]    
  }
{% endschema %}